.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

public/
input/
inst/extdata/CaseStudy1/output/
inst/doc/

inst/extdata/WorldCenter/output/config_worldcenter/runtime_information/runtime_information.txt
inst/extdata/WorldCenter/output/config_worldcenter/runtime_information/StartingConditions.pdf
inst/extdata/WorldCenter/output/config_worldcenter/runtime_information/config_worldcenter.R
