.Rproj.user
.Rhistory
.RData
.Ruserdata


public/
input/
output/

inst/doc

inst/extdata/WorldCenter/output/config_worldcenter/runtime_information/runtime_information.txt
inst/extdata/WorldCenter/output/config_worldcenter/runtime_information/StartingConditions.pdf
StartingConditions.pdf
inst/extdata/WorldCenter/output/config_worldcenter/runtime_information/config_worldcenter.R